@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap");

/*---------------------------------------------Main Logo-----*/

.logo-main {
	width: 75vmin;
	max-width: 750px;
	padding-bottom: 7vh;
}

.logo-main img {
	height: auto;
	width: 100%;
}

.tagline {
	margin: 32px auto 0 auto;
	font-size: 250%;
	text-align: center;
	text-transform: uppercase;
	transform: rotate(-7deg);
	font-family: "Sigmar One", cursive;

	/* background: -webkit-linear-gradient(left, rgb(221, 2, 155), rgb(243, 166, 0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
}

@media only screen and (max-width: 768px) {
	.tagline {
		font-size: 100%;
	}
}
