/* @import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap"); */

/*---------------------------------------------Font & Colours-----*/

* {
	color: #fff;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	/* font-family: "Josefin Sans", sans-serif; */
	font-family: "Sigmar One", cursive;
}

a {
	text-decoration: none;
}

/*---------------------------------------------Background-----*/

body {
	display: grid;
	grid-template-areas: "header" "main" "footer";
	grid-template-rows: auto 1fr auto;

	height: 100vh;
	width: 100vw;

	background-image: linear-gradient(25deg, rgba(129, 82, 10, 0.76), rgba(0, 0, 0, 0.5) 30%),
		linear-gradient(-25deg, rgba(136, 15, 126, 0.76), rgba(0, 0, 0, 0.5) 30%), url("../img/background_1_crop2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*---------------------------------------------Logo-----*/

/*---------------------------------------------NavBar-----*/

header {
	grid-area: header;
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	padding: 0 32px;
}

main {
	grid-area: main;
	display: grid;
	justify-items: center;
	align-items: center;
}

footer {
	grid-area: footer;
	display: grid;
	justify-content: center;

	padding: 24px 0;
}

footer .social-container {
	display: none;
}

.logo-nav {
	width: 125px;
}

nav {
	padding-left: 32px;
}

.menu-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-auto-flow: column;
	column-gap: 36px;
	justify-content: flex-start;
	align-items: center;
}

.menu-item a {
	display: inline-block;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.5s ease;
}

.menu-item a:hover {
	transform: scale(1.2);
	transform-origin: center center;
	color: orange;
}

.social-container a i {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	margin-left: 10px;
	padding: 10px 0;
	color: #fff;
	font-size: 28px;
	position: relative;
}

.facebook,
.instagram {
	background: linear-gradient(180deg, #39444b, #16191b);
	animation-name: entry;
}
.facebook {
	animation-duration: 0.5s;
}
.instagram {
	animation-duration: 0.7s;
}
.facebook:hover {
	background: linear-gradient(180deg, #16a4fb, #0164e1);
}
.instagram:hover {
	background: linear-gradient(180deg, #fdd628, #b401e1);
}

@keyframes entry {
	0% {
		left: 1000px;
	}
	100% {
		left: 0px;
	}
}

@media only screen and (max-width: 768px) {
	.logo-nav {
		display: none;
	}

	header {
		grid-template-columns: 1fr;
		justify-content: center;
		align-items: center;
	}

	nav {
		padding: 24px 0;
	}

	.menu-list {
		justify-content: center;
	}

	header .social-container {
		display: none;
	}
	footer .social-container {
		display: block;
	}
}
